<%= link_to 'Back', @project, class: "btn btn-link mb-3" %>

<div class="card">
  <div class="card-body">
    <h1 class="card-title mb-4 fs-2">
      <span>Editing Project</span>
    </h1>
    
    <%= render 'form', project: @project %>
    </div>
</div>


